@import "tailwindcss";
@source "../../../../packages/ui/src";
@config "../../../../packages/ui/tailwind.config.ts";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  @apply bg-linear-to-b from-background to-[#01030e] text-foreground;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#__next,
body > div:first-child {
  min-height: 100vh;
  background: #09090b;
}
