@import "tailwindcss";
@source "../../../../packages/ui/src";
@config "../../../../packages/ui/tailwind.config.ts";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #09090b;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}
